<% content_for :title do %>
  Modifier l'immeuble
<% end %>

<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">Modifier l'immeuble</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Modifiez les informations de l'immeuble</p>
  </div>
  <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
    <%= render "form", building: @building %>
  </div>
</div> 